$sprites: sprite-map("../img/sprites/albums/*.png");            // import 1x sprites
$sprites2x: sprite-map("../img/sprites-retina/albums/*.png");   // import 2x sprites

.album-item{
	
	display: block;
	position: relative;
	margin-bottom: 15px;

	h4{
		color: #282828;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		margin: 10px 0 0 0;
	}

	a:hover{
		text-decoration: none;
	}

	.album-item-controls{
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 10px;
		margin-right: 10px;

		z-index: 10;
		opacity: 0;
		transition: opacity 0.2s;

		ul{
			list-style: none;
		}

		li{
			float: left;
			margin-left: 5px;
		}

		a{
			background: white;
			border-radius: 100%;
			height: 27px;
			width: 27px;
			display: inline-block;
			text-align: center;
		}

		.icon-trash{
			@include retina-sprite(trash); 
			margin-top: 4px;   
		}
	}

	.album-item-photos-counter{
		color: #3d4147;
		font-size: 11px;
		font-weight: 400;
		line-height: 15px;
	}



	.album-item-img{
		overflow: hidden;

		img{
		    -webkit-transition: -webkit-filter linear 0.3s, filter linear 0.3s;
		    transition: -webkit-filter linear 0.3s, filter linear 0.3s;

			border-radius: 2px;
		}
	}
	&:hover .album-item-controls{
		opacity: 1;
	}

	&:hover img{
	    -webkit-filter: grayscale(100%);
	    filter: grayscale(100%);
	}
}

.album-header{
    margin: 0px 15px;
    display: block;
}