.bootstrap-select .dropdown-toggle:focus,
a:focus{
	outline: none !important;
}

.button-md{
	background-color: #e93124;
	border-radius: 3px;
	color: white;
	font-size: 11px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	padding: 10px 35px;
	letter-spacing: 1px;
	transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	display: inline-block;

	&:hover, &:active, &:focus{
		text-decoration: none;		
	}


	&.red{
		background-color: #e93124;

		&:hover, &:active, &:focus{
			color: white;
			background: #D21D10;
		}
	}

	&.grey{
		color: #c7c7c7;
		border: 1px solid #e5e5e5;
		background: white;
		padding: 10px 34px;

		&:hover, &:active, &:focus{
			color: #969696;
		}

	}
}

.select-md{
	border-radius: 3px;
	color: #3d4147;
	font-size: 11px !important;
	font-weight: 600 !important;
	line-height: 20px;
	text-transform: uppercase;
	padding: 10px 25px 10px 15px !important;
	border: none;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
	transition: opacity .3s linear;
	-webkit-transition: opacity .3s linear;
	display: inline-block;
	outline: none !important;

	background: #ebe7e7;
}