$sprites: sprite-map("../img/sprites/fil/*.png");            // import 1x sprites
$sprites2x: sprite-map("../img/sprites-retina/fil/*.png");   // import 2x sprites

.statut-container{
	padding: 25px 40px !important;
}

.post-statut-img, .post-statut-img-add {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
	border-radius: 3px;

	img{
		border-radius: 3px;
	}

	&:last-child{
		margin-right: 0;
	}
}

.post-statut-img-add{
	border: 1px dashed #d9d9d9;
	display: inline-block;
	background: url('../img/album-add-photo-bkg.jpg');
	text-align: center;
	color: #ff1300;
	font-size: 12px;
	font-weight: 600;
	line-height: 17px;
}

.statut-img-add-icon{
	@include retina-sprite(statutImgAdd);
	display: block;
	margin: auto;
	margin: 20px auto 6px auto;
}

.statut-images-container{
	margin-top: 20px;
	margin-bottom: 15px;
}

.statut-label{
	color: #3d4147;
	font-size: 12px;
	font-weight: 700;
	line-height: 10px;
	margin-right: 15px;
}