.form-control{
	background-color: #f9f9f9 !important;
	border-radius: 3px !important;
	outline: none;
	box-shadow: none;
	border: none;
	padding: 10px 20px;

	&:hover, &:focus{
		outline: none;
		box-shadow: none;
		border: 1px solid #dadada;
	}
}