$sprites: sprite-map("../img/sprites/albums/*.png");            // import 1x sprites
$sprites2x: sprite-map("../img/sprites-retina/albums/*.png");   // import 2x sprites

.c-modal-overlay{

	position: fixed;
	left:0;right: 0; bottom: 0; top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 5000;
	visibility: hidden;
	opacity: 0;


	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;

}



.c-modal-container{
	position: absolute;
	top: 125px;
	background: white;
	border-radius: 3px;
	width: 600px;
	min-height: 100px;
	margin-left:-300px;
    left:50%;
    padding: 10px;


    @media (max-width: $screen-xs-max) { 
		top: 0; left: 0; right: 0; bottom: 0;
		margin: 0;
		width: inherit;
	}

    h1{
    	width: 177px;
		height: 21px;
		color: #ff1a24;
		font-family: Pacifico;
		font-size: 20px;
		font-weight: 400;
		line-height: 10px;
    }

	label{
		color: #282828;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}

    .form-control{
    	background-color: #f9f9f9;
		border-radius: 3px;
		outline: none;
		border: none;
		box-shadow: none !important;

		&:focus{
			outline: none;
			border: 1px solid #b1b3be;
		}
    }

}

.album-modal-add-zone{
	border: 2px dashed #d9d9d9;
	display: block;
	background: url('../img/album-add-photo-bkg.jpg');
	text-align: center;

	.icon-add-photo{
		@include retina-sprite(addPhoto); 
		margin: 20px auto;

		display: block;

	}
}

.c-modal-visible{
	opacity: 1;
	visibility: visible;


}

.c-modal-header{
	padding: 14px;
}

.c-modal-footer{
	margin: 25px 15px;
	display: block;
}