.select-creche-module{
	position: absolute;
	z-index: 20;
	visibility: hidden;
}

.select-creche-module-visible{
	visibility: visible;
}

.select-creche-container{
	margin-left: -20px;
	margin-top: -15px;
	height: 350px;
	width: 250px;
	border-radius: 4px;
	border:1px solid #e9e9e9;
	overflow: hidden;

}

.select-creche-inner{
	background: white;
	width: 100%;
	height: 100%;
	margin-top: 50px;

	input[type="text"]{
		background: url('../img/search.png') no-repeat;
		background-position: 10px 10px;
		border-style: solid;
		width: 200px;
		margin: 5px 20px 10px 20px;
		padding-left: 30px;
		height: 35px;
		outline: none;

    color: #aeaeae;
    font-size: 12px;
    border: 1px solid #bfc2c4;
    padding: 4px 7px 4px 27px;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.08);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.08);


	}
}

.select-creche-list{
	
::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    border-radius: 10px;
}

	ul{
		overflow: scroll;
		width: 250px;
		height: 264px;
		display: block;
	}

	a{
		font-size: 14px;
		font-weight: 400;
		line-height: 34px;
		display: block;
		padding: 2px 20px;

	&:hover{
		background: #f1f1f1;
		text-decoration: none;
		color: black;
		font-weight: 600;
	}
}
}