/*
Theme Name: Les Petits Chaperons Rouges
Theme URI: Author: Gael Ganlut
Author URI: http: //www.ondevisuelle.fr
Description: Custom theme made for the web agency R2 Agence Digitale.
Version: 1.0
Text Domain: lespetitschaperonsrouges
Domain Path: /languages/
*/

/*
Required WordPress CSS
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3d4147;
    background: url('./img/background.jpg') repeat;
}
li a {
	color: #3d4147;
}
a {
	color: #ff1300;
}
a:hover {
	color: #ff1300;
}
img.aligncenter {
	display: block;
	margin: 0 auto;
}
.chromeframe {
	background: #a00;
	color: #faa;
	display: block;
	padding: 3px 0;
	text-align: center;
}
.chromeframe a {
	color: #fff;
	text-decoration: underline;
}
.page-header-top-right {
	margin-top: 10px;
}
.pagination {
	margin: 0;
}
.pagination-center {
	text-align: center;
}
.pagination-row {
	margin-bottom: 20px;
}
.required {
	color: #f00;
}
.row-with-vspace {
	margin: 0;
}
.site-main .format-aside {
	background: #f5f5f5;
}
.site-main .format-image {
	background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
	background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
	background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
	background: url('../img/content-post-format-video.png') left top no-repeat;
}
.site-title {
	margin-bottom: 20px;
	margin-top: 10px;
}
.site-title > a {
	text-decoration: none;
}
.site-title > div {
	height: auto;
	line-height: 18px;
}
.site-title .site-description {
	color: #999;
	font-size: 16px;
}
.site-title .site-title-heading {
	margin: 0;
}
.widget_calendar #wp-calendar {
	margin: 0;
}
.widget_calendar #wp-calendar #next {
	text-align: right;
}
#comments .comment-navigation {
	margin-bottom: 0;
}
#comments .comment-navigation-below {
	margin-bottom: 20px;
	margin-top: 15px;
}
#comments .media-list li .media {
	margin-top: 15px;
}
#comments .media-list li .media .media-body {
	border: 1px solid #eee;
	padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
	font-size: 12px;
	margin-bottom: 10px;
}
#comments .media-list ul.children {
	list-style: none;
	margin-left: 2.5em;
}
#main-column img,
#main-column .wp-video-shortcode {
	display: block;
	height: auto;
	/*max-width: 100%;*/
}
#main-column .attachment .entry-content {
	margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
	text-align: center;
}
#main-column .attachment .entry-meta {
	margin-bottom: 20px;
}
#main-column .post,
#main-column .page {
	border: 1px solid #eee;
	margin-bottom: 20px;
	padding: 10px;
}
#main-column .post .entry-header .entry-meta {
	color: #999;
}
#main-column .post .entry-header .entry-meta a {
	color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
	display: none;
}
#main-column .post .entry-meta .categories-icon {
	cursor: default;
}
#main-column .post .entry-meta .comments-link a {
	color: #333;
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
	color: #555;
	font-size: 12px;
	margin-left: 5px;
}
#main-column .attachment .edit-post-link a,
#main-column .attachment .entry-meta .edit-post-link a,
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
	color: #333;
}
#main-column .post .entry-meta .tags-icon {
	cursor: default;
}
#main-column .attachment .entry-title,
#main-column .post .entry-title,
#main-column .page .entry-title {
	margin-top: 0;
	word-wrap: break-word;
}
#sidebar-left,
#sidebar-right {
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
}
#sidebar-left ul,
#sidebar-right ul {
	padding-left: 20px;
}
#sidebar-left-title,
#sidebar-right-title {
	font-size: 18px;
	margin-top: 0;
}
#site-footer {
	background: #f5f5f5;
	border-top: 3px solid #ddd;
	font-size: 12px;
	padding: 10px;
}
.top-bar .site-title h1 a {
	color: #282828;
	}
.top-bar {
	background-color: #fff;
}
.top-bar .site-title {
	margin-top: 24px;
	/*margin-left: 36px;*/
	padding-left: 27px;
}
.top-bar .site-title h1, .top-bar .site-title h1 a {
	font-weight: 700;
	font-size: 12px;
}
.top-bar .site-description {
	font-weight: 700;
	font-size: 12px;
	color: #ff1300;
}
.top-bar .logo {
	padding-top: 14px;
}
.profil {
	background: #fff;
	padding-top: 13px;
	float: right;
}
.nomprofil {
	font-weight: 700;
	font-size: 14px;
	float: right;
	padding-top: 28px;
}
.iconeprofil {
	float: right;
	padding-top: 28px;
	padding-left: 14px;
}
.content-top {
	padding-top: 20px;
}
.profil-post {
	padding: 0;
	padding-top: 5px;
	float: none;
}
.nomprofil2 {
    font-weight: 700;
    font-size: 14px;
    /*padding-top: 19px;*/
	padding-top: 5px;
}
.nomprofil3 {
    font-weight: 700;
    font-size: 14px;
    padding-top: 30px;
}
.nomprofil3-avecdesc {
    font-weight: 700;
    font-size: 14px;
    padding-top: 25px;
}
.messages-nom {
    font-weight: 700;
    font-size: 14px;
    float: left;
	padding-top: 5px;
	padding-right: 10px;
}
.messages-email {
	padding-top: 5px;
}
.messages-email a {
    font-weight: 700;
    font-size: 14px;
    color: red;
	text-decoration: underline;
}
.messages-objet {
    font-weight: 600;
    font-size: 14px;
}
.messages-post {
    padding-top: 10px;
    padding-bottom: 15px;
	padding-right: 15px;
}
.icone-messages {
    float: right;
    padding-left: 14px;
    margin-top: -34px;
}
.date-messages {
	font-weight: 400;
    font-size: 12px;
    float: none;
    color: #c3c5d2;
    margin-top: 0px;
	padding-right: 30px;
}
.contenu-messages {
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
    padding-top: 30px;
	padding-bottom: 35px;
}
.messages-repondre {
	height: 38px;
	background-color: #e93124;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    padding-left: 0px;
    padding-top: 9px;
	font-weight: 600;
    font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	text-decoration:none;
	text-align: center;
}
.messages-repondre-i {
	height: 14px;
	padding-right: 30px;
	float: left;
}
.messages-repondre a {
	font-weight: 600;
    font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.messages-envoyer {
    height: 38px;
    background-color: #e93124;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-left: 0px;
    padding-top: 9px;
	font-weight: 600;
    font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	text-decoration:none;
	text-align: center;
}
.messages-envoyer-i {
	height: 14px;
	padding-right: 30px;
	padding-left: 80px;
	float: left;
}
.messages-envoyer .messages-envoyer-i {
	padding-left: 65px;
}
.messages-envoyer a {
	font-weight: 600;
    font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.messages-joindre {
	height: 38px;
	background-color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    padding-left: 0px;
    padding-top: 9px;
	margin-top: 10px;
	border: 1px solid #c9c9c9;
	font-weight: 500;
    font-size: 12px;
	color: #c9c9c9;
	text-transform: uppercase;
	text-decoration:none;
	text-align: center;
}
.messages-joindre a {
	font-weight: 500;
    font-size: 12px;
	color: #c9c9c9;
	text-transform: uppercase;
}
.messages-joindre-i {
	height: 14px;
	padding-right: 30px;
	padding-left: 65px;
	float: left;
}
.messages-form {
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
}
.messages-contact-objet, .messages-contact-contenu {
	padding-bottom: 10px;
}
.messages-contact-email {
	padding-bottom: 10px;
}
.messages-post .profil-p {
	padding-left:5px;
	width:82px;
	padding-right:5px;
    height: 80px;
}
.post-title-m {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #ff1a24;
    padding-right: 10px;
	padding-bottom: 30px;
}
.post-title-m h2 {
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.post-title-m h2 a {
    color: #ff1a24;
}
.contact-email {
	width: 100%;
	height: 38px;
	background-color: #ededed;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
.messages-email-a {
    font-size: 14px;
    float: left;
    padding-top: 8px;
    padding-right: 12px;
	padding-left: 10px;
}
.messages-email-nom {
    font-weight: 700;
    font-size: 14px;
    float: left;
    padding-top: 8px;
    padding-right: 12px;
}
.messages-email-destinataire {
    font-size: 14px;
    float: left;
    padding-top: 8px;
    padding-right: 12px;
}
input.contact-objet-input {
	width: 100%;
	height: 38px;
	background-color: #f9f9f9;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	padding-left: 12px;
}
textarea.contact-contenu-textarea {
	width: 100%;
	height: 130px;
	background-color: #f9f9f9;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	padding-top: 12px;
	padding-left: 12px;
	line-height: 20px;
	color: #282828;
	font-family: inherit;
  	font-size: inherit;
	color: inherit;
}
.post-title2 {
    font-weight: 700;
    font-size: 14px;
	padding-top: 11px;
	padding-right: 5px;
}
::-webkit-input-placeholder  {
	color: #282828;
}
:-moz-placeholder {
	color: #282828;
}
::-moz-placeholder {
	color: #282828;
}
:-ms-input-placeholder {
	color: #282828;
}
.post-title2r {
    font-weight: 700;
    font-size: 14px;
	color: red;
	padding-top: 11px;
}
.statut-profil {
    font-weight: 600;
    font-size: 12px;
}
.description-profil {
    font-weight: 300;
    font-size: 12px;
}
.equipe {
	padding:0px;
	margin-left: -15px;
}
.date-post {
    font-weight: 400;
    font-size: 12px;
	float: right;
	color: #c3c5d2;
	margin-top: -16px;
	padding-right: 10px;
}
.post-title {
	padding-left: 15px;
	font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 20px;
	color: #ff1a24;
	padding-right: 10px;
	margin-top: 8px;
}
.post-title h2 {
	padding: 0px;
	margin: 0px;
}
.post-title h2 {
	font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 20px;
	color: #ff1a24;
}
.post-title h2 a {
	color: #ff1a24;
}
.excerpt {
	padding-left: 15px;
	padding-right: 15px;
    font-weight: 300;
    font-size: 14px;
	padding-top: 10px;
}
.cadre-post {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 5px -3px #999;
	padding: 20px;
	color: #282828;
}
.cat-icon {
	overflow: hidden;
	width: 32px;
	float: right;
    padding-left: 6px;
	margin-top: -3px;
}
#main-column .cat-icon img {
	/*height: 100%;
	width: auto;*/
}
.attachment-profil-size {
	-ms-interpolation-mode: bicubic;
	image-rendering: -moz-crisp-edges;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*='wp-image-'] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    min-height: 0px;
	margin-bottom: 0px;
	text-align: center;
}
.navbar-button .icon-bar {
    background-color: red;
}
.navbar-toggle {
    float: none;
	padding-top: 24px;
	padding-left: 45px;
}
.navbar-nav > li > a {
    font-weight: 300;
    font-size: 14px;
	color: #3d4147;
}
.navbar-nav > li {
	float: none;
}
.site-branding {
    background-color: #fff;
}
.top-bar .site-title h1, .top-bar .site-title h1 a {
    line-height: 18px;
}
.menu-item svg: not(: root) {
    overflow: visible;
	height: 46px;
}
.menu-item svg path {
	fill: none;
	stroke: #c3c5d2;
	stroke-width: 1.25px;
}
/* dev */
.menu-item.menu-item-44 img {
	width: 25px;
}
/* production */
.menu-item.menu-item-30 img {
	width: 25px;
}
/* */
#main-column .cat-icon .icon-p svg, #main-column .cat-icon .icon-p img  {
	width: 25px;
    height: 29px;
}
span.site-description {
	padding-left: 10px;
}
.top-bar .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.menu-gauche {
}
li.menu-item a {
	padding-left: 0px;
}
li.menu-item {
    height: 50px;
}
.menu-text {
	text-align: center;
	padding-top: 16px;
}
li.menu-item:hover a, li.menu-item.active a {
    background: none;
	color: red;
	font-weight: 600;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
    width: 200px;
	background: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a {
	background: none;
	color: red;
	font-weight: 600;
	text-decoration: none;
}
.icon-m path {
	fill: red;
}
.menu-icon {
	float: left;
	padding-top: 4px;
	text-align: center;
    width: 40px;
	height: 46px;
	z-index: 1000;
    position: absolute;
	padding-top: 10px;
}
.menu-icon-m {
	padding-left: 52px;
}
svg {
    overflow: visible;
}
.profil-p {
	float: left;
	background: #fff;
	width: 70px;
	height: 50px;
	padding-left: 0px;
	padding-right: 3px;
}
.profil-p2 {
	float: left;
	background: #fff;
	width: 120px;
	height: 110px;
}
p {
    margin: 0 0 12px;
}
.texte-menu {
	font-weight: 400;
	font-size: 11px;
	color: #3d4147;
	width: 119px;
	margin-left: 20px;
	margin-top: 35px;
}
.texte-menu a {
	color: red;
	font-weight: 600;
	text-decoration: underline;
	margin-top: 0px;
}
.cadre-top-title {
	padding-top: 15px;
}
.cadre-top-title2 {
	padding-top: 24px;
}
#main-column .doc-icon img {
	width: 22px;
    height: 28px;
}
#main-column .messages-joindre-i img {
    width: 14px;
    height: 15px;
}
#main-column .messages-envoyer-i img {
    width: 18px;
    height: 15px;
	padding-top: 2px;
}
#main-column .messages-repondre-i img {
    width: 18px;
    height: 15px;
	padding-top: 2px;
}
#main-column .messages-repondre img.repondre-i {
    width: 20px;
    height: 15px;
    margin-left: 12px;
    margin-top: -17px;
    position: absolute;
}
.top-title {
	font-weight: 700;
	font-size: 14px;
	color: #3d4147;
	text-transform: uppercase;
	float: left;
	padding-left: 2px;
	padding-right: 28px;
	line-height: 14px;
}
.top-title a {
	color: #3d4147;
}
.top-title:hover a, .top-title.active a {
	color: red;
    text-decoration: none;
    padding-bottom: 14px;
}
.top-title.active a {
	background: url('./img/top-i.png') bottom no-repeat;
}
.cadre-cat {
    margin-top: 30px;
}
.cadre-post-doc {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 5px -3px #999;
	padding: 20px;
	color: #282828;
	padding-bottom: 5px;
}
.doc-icon {
	float: left;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 5px;
}
.doc-title {
    font-weight: 700;
    font-size: 14px;
    padding-top: 10px;
	line-height: 20px;
	padding-bottom: 10px;
}
.doc-ligne {
	margin-left: 15px;
	margin-right: 15px;
	height: 70px;
	padding-top: 20px;
	line-height: 20px;
}
.lien-fichier {
	float: left;
	width: 50%;
	min-width: 250px;
}
.lien-fichier a {
	font-weight: 700;
    font-size: 14px;
	text-decoration: underline;
	color: red;
}
.type-fichier {
	float: left;
	width: 80px;
	font-size: 12px;
}
.taille-fichier {
	float: left;
	width: 55px;
	font-size: 12px;
}
.notif {
	background: url('./img/notif-i.png') no-repeat;
	background-position:50% 50%;
	width: 14px;
    padding: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
	position: absolute;
    margin-left: 26px;
    margin-top: -2px;
	z-index: 1000;
}
.evenements .cadre-top-title {
	padding-bottom:34px;
}
.evenements-post {
	padding-top:35px;
	padding-bottom:35px;
	padding-left:35px;
	padding-right:35px;
	background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 5px -3px #999;
    color: #282828;
}
.evenements-vide-texte {
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	color: #3d4147;
}
.evenements-titre {
	font-weight: 600;
	font-size: 15px;
	color: #3d4147;
	margin-top: 25px;
	padding-bottom: 20px;
}
.evenements-tag {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 16px;
    color: #ff1a24;
	float: right;
	margin-top: -6px;
}
.evenements-vide-img {
	text-align: center;
	padding: 15px;
	padding-bottom: 16px;
}
.evenements-miniature {
	width: 100px;
	height: 85px;
	padding-right: 15px;
	float: left;
}
#main-column .evenements-miniature img {
	width: 85px;
	height: 85px;
}
.evenements-contenu {
    font-weight: 300;
    font-size: 14px;
}
.evenements-lien {
	font-weight: 700;
    font-size: 13px;
	padding-top:9px;
}
.evenements-lien a {
	color:red;
    text-decoration:underline;
}
.vue-cal {
	font-weight: 700;
    font-size: 11px;
	float:right;
	padding-top: 5px;
	padding-right: 8px;
}
.vue-cal-i, .vue-fil-i {
	float:right;
}
#main-column .evenements-vide-img img {
	display: inline;
}
.separation {
	border-bottom: 1px solid #c3c5d2;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.separation-gris-clair {
	border-bottom: 1px solid #f2f2f2;
}
#wp-calendar {
	padding: 0px;
	padding-bottom:35px;
	background-color:#fff;
	border-radius: 4px;
    box-shadow: 0px 2px 5px -3px #999;
	margin-top: 39px;
}
#wp-calendar > thead > tr > th, #wp-calendar > tbody > tr > th, #wp-calendar > tfoot > tr > th, #wp-calendar > thead > tr > td, #wp-calendar > tbody > tr > td, #wp-calendar > tfoot > tr > td {
    padding: 8px;
	text-align: center;
	font-size: 10px;
	color: #3d4147;
	font-weight:700;
}
#wp-calendar > thead > tr, #wp-calendar > tbody > tr, #wp-calendar > tfoot > tr, #wp-calendar > thead > tr, #wp-calendar > tbody > tr, #wp-calendar > tfoot > tr {
    padding-left: 18px;
	padding-right: 18px;
	padding-top:10px;
	border:none;
}
#wp-calendar > thead, #wp-calendar > tbody, #wp-calendar > tfoot, #wp-calendar > tfoot > tr > td, #wp-calendar > thead > tr > td, #wp-calendar > caption + thead > tr:first-child > th {
	border:none;
}
#wp-calendar > tbody > tr > td {
	color: #b1b4b8;
	width: 30px;
	height: 40px;
	padding: 0px;
	border:none;
}
#wp-calendar > thead.days > tr:first-child > th {
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 20px;
    width: 30px;
    height: 50px;
    border: none;
}
#wp-calendar a {
	background: url('./img/fondcalrouge.png') no-repeat 50% 50%;
    color: #fff;
	padding: 10px;
}
span.cal-j  {
	padding: 10px;
	text-transform: uppercase;
}
/* fond lien gris calendrier */
#wp-calendar gris a {
	background: url('./img/fondcalgris.png') no-repeat 50% 50%;
    color: #fff;
}
/* */
#wp-calendar .caption, #wp-calendar > thead.caption > tr > td > a {
	background:none;
}
#wp-calendar > thead.caption {
	background-color: #c3c5d2;
	border:none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#wp-calendar > thead.caption > tr > td {
	background:none;
    background-color: #c3c5d2;
	height: 50px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	padding-top: 14px;
	text-transform: capitalize;
}
#wp-calendar > thead.caption > tr > td#prev, #wp-calendar > thead.caption > tr > td#next {
	padding-left:8px;
	padding-right:8px;
}
#wp-calendar > tfoot > tr > td.imgcal-texte-td {
	text-align: left;
	padding-top:68px;
}
#wp-calendar > tfoot > tr > td.imgcal-img-td {
    padding-top: 20px;
    padding-bottom: 20px;
}
span.imgcal-texte {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 18px;
    color: #ff1a24;
	margin-left: -15px;
}
#main ul {
    list-style: none;
    padding:0;
    margin:0;
}

#main blockquote {
	font-weight: 600;
    font-size: 16px;
    border-left: 0px;
	background-image: url('./img/apos.png');
	background-position: top left;
    background-repeat: no-repeat;
	padding:0;
	margin-top:32px;
	margin-bottom:32px;
}
#main blockquote p {
    display: block;
	padding-left:45px;
	padding-right:45px;
	padding-top:8px;
	padding-bottom:8px;
    background-image: url('./img/apos2.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.side {
	margin-top: 20px;
}
.evenements .content-top {
    padding-top: 0px;
}
.cadre-post #gallery-1 .gallery-item {
    width: 160px;
	margin-right: 1px;
}
.cadre-post #gallery-1 img {
    border: none;
	width:160px;
}
.cadre-post .gallery-caption {
    text-align: left;
	font-size:11px;
	padding-top:6px;
	font-weight:400;
}
.messages-joindre-t {
	min-width:150px;
}
.messages-contact-email-i {
	float: right;
}
.messages-contact-email-i img {
	margin-top: -22px;
    margin-right: 15px;
}
.messages-email-destinataire {
	display:none;
}
.messages-joindre-i {
    padding-left: 40px;
}
.messages-envoyer .messages-envoyer-i {
    padding-left: 40px;
}
.messages-envoyer-i {
    padding-left: 55px;
}
.messages-post .profil-p {
    float: none;
}
.messages-post .messages-nom {
	 padding-left: 15px;
}
.messages-post .messages-email {
	 padding-left: 15px;
}
.messages-post .messages-objet {
	 padding-left: 15px;
}
.nomprofil3 {
	padding-left: 15px;
}
.nomprofil3-avecdesc {
	padding-left: 15px;
}
.statut-profil {
	padding-left: 15px;
}
.description-profil {
	padding-left: 15px;
}
.profil-p2 {
    float: none;
	padding-top: 15px;
}
.post-title, .post-title2 {
	float: none !important;
}
.post-title, .post-title2, .post-title2r {
	padding-left: 15px;
}
.evenements-tag {
    float: none;
	padding-top: 8px;
}
.cadre-eq .post-title {
	line-height: 20px;
}
.cadre-eq .excerpt {
	padding-top: 0px;
}
.cadre-eq2 .excerpt {
	padding-top: 0px;
}
.site-description  {
	display: inline;
}
.site-description-m  {
	display: none;
	font-weight: 700;
  font-size: 12px;
  color: #ff1300;
}
#p1-2x, #m1-2x, #p2-2x, #m2-2x, #p3-2x, #m3-2x, #p4-2x, #m4-2x, #p5-2x, #m5-2x, #p6-2x, #m6-2x, #p7-2x, #m7-2x, #p8-2x, #m8-2x, #p9-2x, #m9-2x, #p10-2x, #m10-2x, #pu1-2x, #mu1-2x, #pu2-2x, #mu2-2x, #pu3-2x, #mu3-2x, #pu4-2x, #mu4-2x, #pu5-2x, #mu5-2x, #pu6-2x, #mu6-2x {
	display: none;
}
.topfil {
	padding-left: 0px;
}
.topfil-b {
    margin-left: -12px;
}
.topfil-b img {
	padding-top: 10px;
}
.menu-gauche {
	margin-top: 35px;
}
.topfil {
    padding-left: 0px;
    margin-top: -63px;
    z-index: -1;
    position: absolute;
}
li.menu-item a {
    padding: 0;
    display: inline;
}
.joindre-xs {
	padding-bottom:10px;
}
#user {
	width: 100%;
    height: 80px;
}
#user-menu {
	display:none;
	cursor:pointer;
}
.user-menu-top {
	width:202px;
}
.user-menu-cadre {
	position:absolute;
	width:202px;
	background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px -1px #999;
	right: 15px;
	padding-top: 3px;
	padding-bottom: 11px;
	z-index:999;
}
.iconeprofil {
    padding-left: 10px;
}
.user-menu-top {
    background: url('./img/top-i.png') bottom right no-repeat;
    height: 20px;
    position: absolute;
    margin-top: -20px;
    z-index: 9999;
    right: 30px;
}
.user-menu-profil {
	height:45px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 5px;
}
.user-menu-profil:hover {
	background-color: #f1f1f1;
}
.user-menu-nom {
	font-size:13px;
	font-weight:400;
	padding-top:6px;
	padding-left:19px;
	float: left;
}
.profil-p {
	width: 70px;
	padding-left: 0px;
}
.profil-user {
    float: left;
    width: 50px;
    height: 34px;
    padding-left: 14px;
    padding-right: 0px;
}
.profil-post .profil-p {
	margin-left:5px;
}
.evenements-post-bas {
	padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 5px -3px #999;
    color: #282828;
	padding-bottom:40px;
}
#user .profil-p {
	width: 70px;
	padding-left: 0px;
	padding-right: 0px;
}
.profil-user-i {
    float: left;
    width: 50px;
	height: auto;
    padding-left: 28px;
    padding-right: 4px;
	padding-top: 4px;
}
.profil-user-lock {
    float: left;
    width: 50px;
	height:auto;
    padding-left: 28px;
    padding-right: 4px;
	padding-top: 1px;
}
.profil-user-i img, .profil-user-lock img {
    width: 19px;
	height: auto;
}
.creer-album {
	width: 155px;
	height: 197px;
	float: left;
	margin-right: 12px;
	margin-bottom: 25px;
}
.creer-album-i {
	background: url('./img/creer-galerie-bg.jpg');
	padding-top: 66px;
	padding-left: 66px;
	width: 155px;
	height: 155px;
	float: left;
}
.creer-album-texte {
	padding-top: 93px;
	padding-left: 30px;
	text-align: center;
	position: absolute;
	font-size: 13px;
	font-weight: 600;
	color: #ff1300;
}
.creer-album-chaperon {
	padding-top: 129px;
	padding-left: 48px;
	position: absolute;
}
.galerie {
	float: left;
	width: 155px;
	height: 197px;
	margin-right: 12px;
	margin-bottom: 25px;
	z-index: 1;
}
.galerie img {
	width: 155px;
	height: 155px;
}
.titre-galerie {
	clear: both;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	padding-top: 7px;
}
.titre-galerie a {
	color: #282828;
	text-decoration: none;
}
.galerie-video {
	float: left;
}
.galerie-video-i {
    margin-right: 12px;
    float: right;
	margin-top: -21px;
	width: 17px;
	height: 10px;
}
.galerie-video-lecture {
	position: absolute;
	width: 47px;
	height: 47px;
	z-index: 1000;
	padding-left: 54px;
	padding-top: 52px;
	display: none;
}
.galerie-video-lecture img {
	width: 47px;
	height: 47px;
}
.galerie-video-i img {
	width: 17px;
	height: 10px;
}
.nombre-photos {
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
}
.cadre-albums {
	padding: 15px;
	padding-top: 17px;
	padding-bottom: 0px;
}
.top-accueil {
    background-color: #fff;
}
.top-accueil .logo {
    width:104px;
    margin:0 auto;
}
.top-accueil .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.cadre-connec .post-title {
	padding:15px;
	padding-bottom: 0px;
	margin-top: 0px;
}
.cadre-connec .inner {
	padding:35px;
}
.input-connec {
	margin-top:38px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
.input-password {
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
.input-connec input, .input-password input {
    width: 100%;
    height: 38px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    padding-left: 12px;
}
.password-link {
	float: right;
	font-size: 11px;
	line-height: 11px;
	font-weight: 600;
	margin-top: -2px;
}
.password-link a {
	text-decoration: underline;
}
.bouton-connec {
    padding-left: 25px;
    width: 191px;
    height: 38px;
    background-color: #ff1300;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-left: 20px;
    padding-top: 9px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 12px;
}
.bouton-connec .bouton-connec-i {
    padding-left: 10px;
}
.bouton-connec-t {
    padding-left: 0px;
    padding-right: 0px;
    width: 75px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.bouton-connec-i img {
    width: 16px;
    height: 16px;
    margin-top: -6px;
}
.bouton-connec .bouton-connec-i {
    padding-left: 30px;
}
.top-accueil {
    height: 146px;
}
.top-accueil .logo {
    padding-top:45px;
}
.bg-accueil {
  	height:500px;
  	background: url('./img/bg-accueil.jpg');
  	background-position: 5% 52%;
    background-size: 130%;
    padding-top: 90px;
    -webkit-transform: translateZ(0);
}
.bg-accueil .container-accueil {
  	margin:0 auto;
  	width: 544px;
}
.cadre-connec {
  	width:544px;
  	height:318px;
  	text-align:center;
  	box-shadow: 0px 2px 5px -3px #999;
  	background-color:#fff;
  	border-radius:4px;
  	-webkit-border-radius:4px;
  	z-index:1;
  	position: relative;
}
.bg-accueil .topfil-b img {
    margin-left: 25px;
}
.bg-accueil .topfil-b {
  	margin:0 auto;
  	margin-top:-52px;
  	width:200px;
  	z-index:0;
  	position: relative;
}
.bg-accueil .texte-menu {
  	margin:0 auto;
  	width:544px;
  	text-align:center;
  	margin-top:18px;
  	position: relative;
}
.cadre-connec .titre-connec {
    display:block;
}
.cadre-connec .logo {
    display:none;
}
#main-column .p404-i img {
    width: 20px;
    height: 15px;
    margin-left: 12px;
    margin-top: 0px;
    max-width: 100%;
}
.icons-g {
	width: 367px;
    height: 321px;
    position:absolute;
    margin-top:50px;
    padding-top:43px;
    margin-left:-367px;
    background: url('./img/icons-full.png') no-repeat;
    background-size: 1252px 221px;
}
.icons-d {
	width: 341px;
    height: 321px;
    position:absolute;
    margin-top:50px;
    padding-top:43px;
    margin-left:544px;
    background: url('./img/icons-full.png') no-repeat;
    background-position: top right;
    background-size: 1252px 221px;
}
.icons-g1 {
	float: right;
	text-align: center;
	width:76px;
}
.icons-g1 .icons-i {
	padding-top:3px;
}
.icons-i {
	height:36px;
}
.icons-g2 {
	float: right;
	text-align: center;
	margin-right:46px;
	width:140px;
}
.icons-g1 img, .icons-g2 img {
	width: 34px;
}
.icons-g3 {
	float: left;
	text-align: center;
	width:104px;
	margin-left:60px;
}
.icons-g2 .icons-i {
	padding-top:0px;
}
.icons-wrapper {
	width:34px;
	height:36px;
	margin:0 auto;
}
.icons-g3 .icons-i {
	padding-top:0px;
	padding-left:24px;
}
.icons-g4 {
	float: left;
	text-align: center;
	/*width:144px;*/
  width: 74px;
  margin-left: 35px;
}
.icons-g4 .icons-i {
	padding-top:5px;
}
.icons-g3 img, .icons-g4 img {
	width: 32px;
}
.icons-t {
	padding-top:5px;

}
.icons-g, .icons-g a, .icons-g a:hover, .icons-d, .icons-d a, .icons-d a:hover {
	font-size: 12px;
	line-height:12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.bg-accueil .topfil-b {
  margin-top: -52px;
  -moz-animation: fadein 3s ease-out normal;
  -webkit-animation: at 3s ease-out normal;
  -ms-animation: at 3s ease-out normal;
  -o-animation: at 3s ease-out normal;
    /*animation: at 3s ease-out normal;*/
}
.bouton-connec {
  padding-top: 0px;
}
button {
  border: medium none;
  cursor: pointer;
  display: inline-block;
  padding-right: 0px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.login-msg {
  color:#ff1300;
  text-align:center;
  height: 32px;
  width: 100%;
  font-size: 14px;
}
.messagediv {
  position:relative;
  color:#ff1300;
  text-align:center;
  width: 100%;
  margin-top: -38px;
}
#preloader {
  display:none;
  width:32px;
  height:32px;
  position:relative;
  padding-top:8px
}
.user-menu-profil a {
  color: #3d4147;
}
.plder {
  width: 42px;
  height: 32px;
  margin-left:25px;
  margin-top: -48px;
  float: left;
  display:block;
  position:absolute;
}
.password-link {
  display:none;
}
.contact-email label {
  position: absolute;
  z-index: 99;
  color:#282828; font-weight: 300; font-size: 14px;
  margin-left: 10px;
  margin-top: 7px;
}
.message.selectize span.caption  {
  position:relative;
  margin-left:2px;
  color:#282828; font-weight: 300; font-size: 14px;
}
.message.selectize .selectize-input span.email:before, .message .selectize span.caption:before {
    content: '<';
}
.message.selectize .selectize-input span.email:after, .message .selectize span.caption:after  {
    content: '>';
}
.message.selectize .selectize-input span.email {
    font-size: 14px;
    font-weight: 300;
    color: #282828;
    margin-left:10px;
}
.message.selectize .selectize-input span.name {
    font-size: 14px;
    font-weight: 300;
    color: #282828;
    margin-left:0px;
    padding-left:0px;
    color:#282828;
    font-weight: 700;
    font-size: 14px;
}
.message.selectize .selectize-input.items {
    background: none;
    background: url('./img/messages-contact-email-i.png') no-repeat 95% 50%;
    border:none;
    box-shadow: none;
    margin-left:23px;
}
.message.selectize .selectize-input.items.has-items {
    margin-left:17px;
}
.message.selectize .selectize-input.items::before {
    box-shadow:none;
    border:none;
    background:none;
}
.message .selectize-input > *::-webkit-input-placeholder { color:#282828; font-weight: 700; font-size: 14px; }
.message .selectize-input > *::-moz-placeholder { color:#282828; font-weight: 700;font-size: 14px; } /* firefox 19+ */
.message .selectize-input > *:-ms-input-placeholder { color:#282828; font-weight: 700; font-size: 14px; } /* ie */
.message .selectize-input > *:-moz-placeholder { color:#282828; font-weight: 700; font-size: 14px; }
.message .focus > *::-webkit-input-placeholder { color:#282828; font-size: 14px; }
.message .focus > *::-moz-placeholder { color:#282828; font-size: 14px; } /* firefox 19+ */
.message .focus > *:-ms-input-placeholder { color:#282828; font-size: 14px; } /* ie */
.message .focus > *:-moz-placeholder { color:#282828; font-size: 14px; }
.message .dropdown-active > * { color:#282828; font-size: 14px; }
.message .selectize-input, .message .selectize-input input, .message .selectize span.label {
    margin-left:15px;
    position:relative;
    font-size: 14px;
    font-weight: 600;
    color: #282828;
    text-align: left;
}
.messages-joindre, .messages-envoyer, .messages-repondre {
    cursor: pointer;
}
@-webkit-keyframes at {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -52px;
    opacity:1;
}
}
@-moz-keyframes at {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -52px;
    opacity:1;
}
}
@-ms-keyframes at {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -52px;
    opacity:1;
}
}
@-o-keyframes at {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -52px;
    opacity:1;
}
}
@keyframes at {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -52px;
    opacity:1;
}
}
@-webkit-keyframes fadein {
  0% {
    opacity:0;
}
  50% {
    opacity:0;
}
  100% {
    opacity:1;
}
}
@-moz-keyframes fadein {
  0% {
    opacity:0;
}
  50% {
    opacity:0;
}
  100% {
    opacity:1;
}
}
@-ms-keyframes fadein {
  0% {
    opacity:0;
}
  50% {
    opacity:0;
}
  100% {
    opacity:1;
}
}
@-o-keyframes fadein {
  0% {
    opacity:0;
}
  50% {
    opacity:0;
}
  100% {
    opacity:1;
}
}
@keyframes fadein {
  0% {
    opacity:0;
}
  50% {
    opacity:0;
}
  100% {
    opacity:1;
}
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
#p1, #m1, #p2, #m2, #p3, #m3, #p4, #m4, #p5, #m5, #p6, #m6, #p7, #m7, #p8, #m8, #p9, #m9, #p10, #m10, #pu1, #mu1, #pu2, #mu2, #pu3, #mu3, #pu4, #mu4, #pu5, #mu5, #pu6, #mu6 {
	display:none;
}
#p1-2x, #m1-2x, #p2-2x, #m2-2x, #p3-2x, #m3-2x, #p4-2x, #m4-2x, #p5-2x, #m5-2x, #p6-2x, #m6-2x, #p7-2x, #m7-2x, #p8-2x, #m8-2x, #p9-2x, #m9-2x, #p10-2x, #m10-2x, #pu1-2x, #mu1-2x, #pu2-2x, #mu2-2x, #pu3-2x, #mu3-2x, #pu4-2x, #mu4-2x, #pu5-2x, #mu5-2x, #pu6-2x, #mu6-2x {
	display:inline;
}
body {
    background: url('./img/background@2x.jpg') repeat;
  	background-size: 6px 6px;
}
.top-title.active a {
  	background: url('./img/top-i@2x.png') bottom no-repeat;
  	background-size: 14px 18px;
}
.creer-album-i {
  	background: url('./img/creer-galerie-bg@2x.jpg');
  	background-size: 155px 155px;
}
.user-menu-top {
    background: url('./img/top-i@2x.png') bottom right no-repeat;
  	background-size: 14px 18px;
}
.notif {
  	background: url('./img/notif-i@2x.png') no-repeat;
  	background-size: 100%;
    background-position: 50% 50%;
}
.icons-g, .icons-d {
    background: url('./img/icons-full@2x.png') no-repeat;
    background-size: 1252px 221px;
}
.icons-d {
    background-position: top right;
}
#wp-calendar a {
  	background: url('./img/fondcalrouge@2x.png') no-repeat 50% 50%;
  	background-size: 100%;
    background-position: 50% 50%;
}
#wp-calendar gris a {
  	background: url('./img/fondcalgris@2x.png') no-repeat 50% 50%;
  	background-size: 100%;
    background-position: 50% 50%;
}
#main blockquote {
  	background-image: url('./img/apos@2x.png');
  	background-size: 23px 21px;
}
#main blockquote p {
    background-image: url('./img/apos2@2x.png');
	  background-size: 23px 21px;
}
.message.selectize .selectize-input.items {
    background: none;
    background: url('./img/messages-contact-email-i@2x.png') no-repeat 95% 50%;
    background-size:13px 7px;
    border:none;
    box-shadow: none;
    margin-left:23px;
}


}
@media screen and (max-height: 850px) {
.top-bar {
    z-index: 9;
    position: relative;
}
.topfil {
    position: fixed;
    margin-top: -63px;
    z-index: 1;
}
.menu-gauche {
    position: fixed;
    margin-top: 35px;
    z-index: 1;
}
.topfil-b {
    position: fixed;
    margin-top: 425px;
}
.texte-menu {
    position: fixed;
    margin-top: 690px;
}
.evenements {
    float: right !important;
}
}
@media screen and (max-width: 359px) {
.lien-fichier {
    min-width: 0px;
    float: none;
    width: 100%;
}
.doc-ligne  {
	height: 80px;
    padding-top: 15px;
}
.site-description  {
	display: none;
}
.site-description-m  {
	display: block;
}
.messages-joindre-i, .messages-envoyer-i {
  display: none;
}
}
@media (min-width: 240px) and (max-width: 370px) {
.top-title {
  float: none;
	padding-top: 8px;
}
}
@media (min-width: 480px) {
.profil-p2 {
	padding-top: 0px;
}
.evenements-tag {
    float: right;
}
.messages-email-destinataire {
	display: block;
}
.messages-joindre-i {
    padding-left: 65px;
}
.messages-envoyer .messages-envoyer-i {
    padding-left: 65px;
}
.messages-envoyer-i {
    padding-left: 80px;
}
.messages-post .profil-p {
    float: left;
}
.nomprofil3 {
	padding-left: 0px;
}
.nomprofil3-avecdesc {
	padding-left: 0px;
}
.statut-profil {
	padding-left: 0px;
}
.description-profil {
	padding-left: 0px;
}
.profil-p2 {
    float: left;
}
.cadre-eq .post-title, .post-title2 {
	float: left !important;
}
.cadre-eq .profil-post .post-title {
}
.post-title2, .post-title2r {
	padding-left: 0px;
}
.messages-post .messages-nom {
	 padding-left: 0px;
}
.messages-post .messages-email {
	 padding-left: 0px;
}
.messages-post .messages-objet {
	 padding-left: 0px;
}
}
@media (min-width: 768px) {
.container {
  /*  width: 750px;*/
}
.top-bar {
    height: 80px;
}
.top-bar .site-title h1, .top-bar .site-title h1 a {
    line-height: 1.1;
    float: none;
}
.top-bar .site-description {
    padding-top: 2px;
}
.top-bar .container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
	text-align: left;
}
.navbar-collapse {
    padding-right: 10px;
    padding-left: 10px;
}
.menu-icon {
    float: left;
    margin-left: 0px;
	padding-left: 0px;
	width: 40px;
	text-align: center;
}
.menu-icon-m {
	padding-right: 0px;
    padding-left: 0px;
	width: 40px;
}
li.menu-item .menu-text a {
	padding-left: 0px;
}
.menu-text {
	text-align: left;
}
.menu-gauche {
	padding-left: 10px;
}
#sidebar-left {
	padding-left: 0px;
	padding-right: 0px;
}
/* dev */
li.menu-item-30 {
	margin-bottom: 10px;
}
li.menu-item-31 {
	border-top: 1px solid #c3c5d2;
	padding-top: 10px;
	height: 64px;
}
/* */
/* production */
li.menu-item-44 {
	margin-bottom: 10px;
}
li.menu-item-45 {
	border-top: 1px solid #c3c5d2;
	padding-top: 10px;
	height: 64px;
}
/* */
.navbar-left, .navbar-nav {
	width: 170px;
	margin-top: 7px;
}
.col-m {
	padding-left: 10px;
	padding-right: 10px;
}
.icone-messages {
    float: right;
    margin-top: -36px;
}
.date-messages {
    float: right;
    margin-top: -39px;
	padding-right: 30px;
}
.side {
	float: right;
	margin-top: 30px;
	padding-right: 10px;
    padding-left: 5px;
}
.evenements {
	float: left;
}
#wp-calendar > thead > tr > th, #wp-calendar > tbody > tr > th, #wp-calendar > tfoot > tr > th, #wp-calendar > thead > tr > td, #wp-calendar > tbody > tr > td, #wp-calendar > tfoot > tr > td {
    padding-top: 8px;
	padding-bottom: 8px;
}
#wp-calendar > tbody > tr > td {
	color: #b1b4b8;
	width: 30px;
	height: 25px;
}
#wp-calendar > thead.days > tr:first-child > th {
	padding: 0px;
	padding-top: 12px;
	padding-bottom: 10px;
	width: 30px;
	height: 47px;
}
#wp-calendar {
    margin-top: 39px;
}
.evenements .content-top {
    padding-top: 20px;
}
.doc-ligne {
	height: 60px;
}
.messages-envoyer {
	width: 164px;
	height: 38px;
	background-color: #ff1300;
	border-radius: 4px;
	-webkit-border-radius: 4px;
    padding-left: 36px;
    padding-top: 9px;
	float: right;
}
.messages-envoyer-i {
	width: 19px;
	height: 14px;
	padding-right: 30px;
	float: left;
}
.messages-joindre {
    width: 183px;
    height: 38px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-left: 10px;
    padding-top: 9px;
    float: right;
    margin-right: 8px;
    border: 1px solid #c9c9c9;
	margin-top: 0px;
}
.messages-joindre-i {
    width: 17px;
    height: 14px;
    padding-right: 25px;
    float: left;
}
.messages-repondre {
    width: 164px;
    height: 38px;
    background-color: red;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-left: 15px;
    padding-top: 9px;
    float: right;
	text-align: left;
}
.messages-repondre-i {
    width: 29px;
    height: 14px;
    padding-right: 10px;
    float: left;
}
.messages-post .profil-p {
    height: 70px;
}
.messages-envoyer-i {
    padding-left: 10px;
}
.messages-joindre-i {
    padding-left: 10px;
}
.messages-envoyer-t {
	padding-left: 0px;
	padding-right: 0px;
	width: 60px;
}
.messages-joindre-t {
	padding-left: 0px;
	padding-right: 0px;
	width: 120px;
	min-width:120px;
}
.messages-envoyer .messages-envoyer-i {
    padding-left: 10px;
}
.messages-repondre .messages-envoyer-i {
    padding-left: 15px;
}
.messages-repondre-t {
	padding-left: 10px;
}
.messages-envoyer {
    padding-left: 25px;
}
.bg-accueil {
    padding-top: 90px;
    -moz-animation: ac 2s ease-in normal;
    -webkit-animation: ac 2s ease-in normal;
    -ms-animation: ac 2s ease-in normal;
    -o-animation: ac 2s ease-in normal;
    animation: ac 2s ease-in normal;
}
.icons-g, .icons-d {
    -moz-animation: fadein 3s ease-in normal;
    -webkit-animation: fadein 3s ease-in normal;
    -ms-animation: fadein 3s ease-in normal;
    -o-animation: fadein 3s ease-in normal;
    animation: fadein 3s ease-in normal;
}
@-webkit-keyframes ac {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@-moz-keyframes ac {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@-ms-keyframes ac {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@-o-keyframes ac {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@keyframes ac {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}



}
@media screen and (max-width: 559px) {
	.bg-accueil {
    height: 544px;
    background: none;
    padding-top: 0px;
}
.messagediv {
    margin-top: -15px;
}
.top-accueil {
    height: 80px;
}
.top-accueil .logo {
    padding-top: 15px;
}
.cadre-connec .inner {
    padding: 15px;
}
.bg-accueil .texte-menu, .cadre-connec, .bg-accueil .container-accueil {
    width: 100%;
}
.bg-accueil .topfil-b {
    margin-top: -82px;
}
.bg-accueil .texte-menu {
    padding-left: 15px;
    padding-right: 15px;
    font-size:12px;
}
.password-link {
    float: none;
    margin-top: 10px;
    font-size:12px;
}
.input-connec {
    padding-bottom: 12px;
}
.bouton-connec {
    margin-top: 40px;
}
.top-accueil, .icons-g, .icons-d {
  display:none;
}
.cadre-connec {
    height: 338px;
}
.cadre-connec .titre-connec {
    display:none;
}
.cadre-connec .logo {
    display:block;
}
.cadre-connec .post-title {
    margin-top: 10px;
}
.cadre-connec {
    height: 378px;
}
.bg-accueil {
    padding-top: 45px;
    -moz-animation: acm 2s ease-in normal;
    -webkit-animation: acm 2s ease-in normal;
    -ms-animation: acm 2s ease-in normal;
    -o-animation: acm 2s ease-in normal;
    animation: acm 2s ease-in normal;
}
@-webkit-keyframes acm {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 45px;
    opacity:1;
}
}
@-moz-keyframes acm {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 45px;
    opacity:1;
}
}
@-ms-keyframes acm {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 45px;
    opacity:1;
}
}
@-o-keyframes acm {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 45px;
    opacity:1;
}
}
@keyframes acm {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 45px;
    opacity:1;
}
}
.bg-accueil .topfil-b {
    margin-top: -82px;
    -moz-animation: fadein 3s ease-out normal;
    -webkit-animation: atm 3s ease-out normal;
    -ms-animation: atm 3s ease-out normal;
    -o-animation: atm 3s ease-out normal;
    /*animation: at 3s ease-out normal;*/
}
@-webkit-keyframes atm {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -82px;
    opacity:1;
}
}
@-moz-keyframes atm {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -82px;
    opacity:1;
}
}
@-ms-keyframes atm {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -82px;
    opacity:1;
}
}
@-o-keyframes atm {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -82px;
    opacity:1;
}
}
@keyframes atm {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -82px;
    opacity:1;
}
}

}
@media (min-width: 560px) and (max-width: 767px) {
	.bg-accueil {
    height: 440px;
    background: url('./img/bg-accueil.jpg');
    background-position: 5% 5%;
    background-size: 140%;
    padding-top: 90px;
    overflow:visible;
}
.bg-accueil .topfil-b {
    margin: 0 auto;
    margin-top: -112px;
}
.bg-accueil {
    padding-top: 90px;
    -moz-animation: ac2 2s ease-in normal;
    -webkit-animation: ac2 2s ease-in normal;
    -ms-animation: ac2 2s ease-in normal;
    -o-animation: ac2 2s ease-in normal;
    animation: ac2 2s ease-in normal;
}
.icons-g, .icons-d {
    -moz-animation: fadein 3s ease-in normal;
    -webkit-animation: fadein 3s ease-in normal;
    -ms-animation: fadein 3s ease-in normal;
    -o-animation: fadein 3s ease-in normal;
    animation: fadein 3s ease-in normal;
}
@-webkit-keyframes ac2 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@-moz-keyframes ac2 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@-ms-keyframes ac2 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@-o-keyframes ac2 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
@keyframes ac2 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 90px;
    opacity:1;
}
}
.bg-accueil .topfil-b {
    margin-top: -112px;
    -moz-animation: fadein 3s ease-out normal;
    -webkit-animation: at2 3s ease-out normal;
    -ms-animation: at2 3s ease-out normal;
    -o-animation: at2 3s ease-out normal;
    /*animation: at 3s ease-out normal;*/
}
@-webkit-keyframes at2 {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -112px;
    opacity:1;
}
}
@-moz-keyframes at2 {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -112px;
    opacity:1;
}
}
@-ms-keyframes at2 {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -112px;
    opacity:1;
}
}
@-o-keyframes at2 {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -112px;
    opacity:1;
}
}
@keyframes at2 {
  0% {
    margin-top: -300px;
    opacity:0;
}
  50% {
    margin-top: -300px;
    opacity:0;
}
  100% {
    margin-top: -112px;
    opacity:1;
}
}

}
@media (min-width: 560px) and (max-width: 991px) {
.bg-accueil .texte-menu, .cadre-connec, .bg-accueil .container-accueil {
    width: 544px;
}
.icons-g {
    width: 367px;
    height: 321px;
    position: absolute;
    margin-top: -110px;
    padding-top: 43px;
    margin-left: -88px;
    background:none;
}
.icons-d {
    width: 341px;
    height: 321px;
    position: absolute;
    margin-top: -110px;
    padding-top: 43px;
    margin-left: 288px;
    background:none;
}
.icons-g3 {
	width: 64px;
}

}
@media (min-width: 992px) and (max-width: 1199px) {
.bg-accueil .texte-menu, .cadre-connec, .bg-accueil .container-accueil {
    width: 460px;
}
.icons-d {
	 /*width: 301px;*/
	  /*width: 341px;*/
    width: 277px;
    margin-left: 440px;
    background-position: -911px 0px;
    -moz-animation: ad 4s ease-out normal;
    -webkit-animation: ad 4s ease-out normal;
    -ms-animation: ad 4s ease-out normal;
    -o-animation: ad 4s ease-out normal;
    animation: ad 4s ease-out normal;
    overflow:visible;
}
@-webkit-keyframes ad {
  0% {
    margin-left: 120px;
}
  50% {
    margin-left: 120px;
}
  100% {
    margin-left:440px;
}
}
@-moz-keyframes ad {
  0% {
    margin-left: 120px;
}
  50% {
    margin-left: 120px;
}
  100% {
    margin-left:440px;
}
}
@-ms-keyframes ad {
  0% {
    margin-left: 120px;
}
  50% {
    margin-left: 120px;
}
  100% {
    margin-left:440px;
}
}
@-o-keyframes ad {
  0% {
    margin-left: 120px;
}
  50% {
    margin-left: 120px;
}
  100% {
    margin-left:440px;
}
}
@keyframes ad {
  0% {
    margin-left: 120px;
}
  50% {
    margin-left: 120px;
}
  100% {
    margin-left:440px;
}
}
.icons-g {
    /*width: 367px;
    margin-left: -327px;
    background-position: -10px 0px;*/
    width: 297px;
    margin-left: -257px;
    background-position: -80px 0px;
    -moz-animation: ag 4s ease-out normal;
    -webkit-animation: ag 4s ease-out normal;
    -ms-animation: ag 4s ease-out normal;
    -o-animation: ag 4s ease-out normal;
    animation: ag 4s ease-out normal;
}
@-webkit-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -257px;
}
}
@-moz-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -257px;
}
}
@-ms-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -257px;
}
}
@-o-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -257px;
}
}
@keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -257px;
}
}
.icons-g2 {
    margin-right: 56px;
}
.icons-g3 {
	margin-left: 60px;
}


}
@media (min-width: 992px) {

.container {
   /* width: 960px;*/
}
.navbar-default {
	display: none;
}
#wp-calendar > thead > tr > th, #wp-calendar > tbody > tr > th, #wp-calendar > tfoot > tr > th, #wp-calendar > thead > tr > td, #wp-calendar > tbody > tr > td, #wp-calendar > tfoot > tr > td {
    padding-top: 8px;
	padding-bottom: 8px;
}
#wp-calendar > tbody > tr > td {
	color: #b1b4b8;
	width: 30px;
	height: 25px;
}
.side {
	padding-right:0px;
	padding-left: 0px;
	min-width: 258px;
}
.evenements {
	width: 47%;
}
}
@media (min-width: 1200px) {
.container {
  /*  width: 1170px;*/
}
.evenements {
	width: 50%;
}
.side {
	padding-right:15px;
	padding-left: 15px;
}
.bg-accueil {
	height:560px;
	background-position: 5% 47%;
    background-size: 110%;
    padding-top: 120px;
}
.bg-accueil .texte-menu, .cadre-connec, .bg-accueil .container-accueil {
    width: 544px;
}
.bg-accueil {
    padding-top: 120px;
    -moz-animation: ac3 2s ease-out normal;
    -webkit-animation: ac3 2s ease-out normal;
    -ms-animation: ac3 2s ease-out normal;
    -o-animation: ac3 2s ease-out normal;
    animation: ac3 2s ease-out normal;
}
@-webkit-keyframes ac3 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 120px;
    opacity:1;
}
}
@-moz-keyframes ac3 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 120px;
    opacity:1;
}
}
@-ms-keyframes ac3 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 120px;
    opacity:1;
}
}
@-o-keyframes ac3 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 120px;
    opacity:1;
}
}
@keyframes ac3 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 120px;
    opacity:1;
}
}
.icons-g {
    /*margin-left: -367px;*/
    margin-left: -319px;
    width: 319px;
    -moz-animation: ag 4s ease-out normal;
    -webkit-animation: ag 4s ease-out normal;
    -ms-animation: ag 4s ease-out normal;
    -o-animation: ag 4s ease-out normal;
    animation: ag 4s ease-out normal;
}
.icons-d {
    width: 319px;
    -moz-animation: ad 4s ease-out normal;
    -webkit-animation: ad 4s ease-out normal;
    -ms-animation: ad 4s ease-out normal;
    -o-animation: ad 4s ease-out normal;
    animation: ad 4s ease-out normal;
}
.icons-g2 {
    margin-right: -2px;
}
.icons-g3 {
    margin-left: 38px;
}
@-webkit-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -319px;
}
}
@-moz-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -319px;
}
}
@-ms-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -319px;
}
}
@-o-keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -319px;
}
}
@keyframes ag {
  0% {
    margin-left: 0px;
}
  50% {
    margin-left: 0px;
}
  100% {
    margin-left: -319px;
}
}
@-webkit-keyframes ad {
  0% {
    margin-left: 203px;
}
  50% {
    margin-left: 203px;
}
  100% {
    margin-left: 544px;
}
}
@-moz-keyframes ad {
  0% {
    margin-left: 203px;
}
  50% {
    margin-left: 203px;
}
  100% {
    margin-left: 544px;
}
}
@-ms-keyframes ad {
  0% {
    margin-left: 203px;
}
  50% {
    margin-left: 203px;
}
  100% {
    margin-left: 544px;
}
}
@-o-keyframes ad {
  0% {
    margin-left: 120px;
}
  50% {
    margin-left: 120px;
}
  100% {
    margin-left: 544px;
}
}
@keyframes ad {
  0% {
    margin-left: 120px;
}
  50% {
    margin-left: 120px;
}
  100% {
    margin-left: 544px;
}
}



}
@media (min-width: 1921px) {
.bg-accueil {
	height:600px;
	background-position: 5% 55%;
    background-size: 110%;
    padding-top: 140px;
}
.bg-accueil {
    -moz-animation: ac4 2s ease-out normal;
    -webkit-animation: ac4 2s ease-out normal;
    -ms-animation: ac4 2s ease-out normal;
    -o-animation: ac4 2s ease-out normal;
    animation: ac4 2s ease-out normal;
}
@-webkit-keyframes ac4 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 140px;
    opacity:1;
}
}
@-moz-keyframes ac4 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 140px;
    opacity:1;
}
}
@-ms-keyframes ac4 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 140px;
    opacity:1;
}
}
@-o-keyframes ac4 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 140px;
    opacity:1;
}
}
@keyframes ac4 {
  0% {
    padding-top: 0px;
    opacity:0;
}
  100% {
    padding-top: 140px;
    opacity:1;
}
}

}
